.wrapper {
  width: 100%;
  /* padding: 6rem 0 5rem;  */
  background: radial-gradient(
      900px 520px at 20% 60%,
      var(--primary-color-light-transparent),
      transparent 55%
    ),
    radial-gradient(
      900px 520px at 80% 35%,
      rgba(24, 182, 255, 0.08),
      transparent 60%
    );
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.75rem;
  margin-bottom: 3rem;
}

.layout {
  display: flex;
  gap: 3rem;
  align-items: stretch;
}

.colLeft {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  flex: 1 1 52%;
  min-width: 380px;
  /* border: 3px solid red; */
}

.colRight {
  flex: 1 1 48%;
  min-width: 380px;
  display: flex;
  /* border: 3px solid green; */
  /* display: flex;
  align-items: center;
  justify-content: center; */

}

.statGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  width: 100%;
  align-content: flex-start;
}

/* .statGrid > article {
  flex: 1 1 calc(50% - 1.5rem);
  min-width: 240px;
} */

.statFlexWrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  gap: 3rem;
}

.statFlexSection {
  flex: 1 1 calc(50% - 3rem);
}

.wideRow {
  flex: 1 1 100%;
  min-width: 0;
}

@media (max-width: 64em) {
  .inner {
    padding: 0 1.25rem;
  }

  .layout {
    flex-direction: column;
  }

  .colLeft,
  .colRight {
    min-width: 0;
  }

  .statGrid > article {
    flex: 1 1 100%;
    min-width: 0;
  }

  .wrapper {
    padding: 4.25rem 0 4rem;
  }
}

@media (max-width: 34em) {
  .header {
    align-items: flex-start;
    text-align: left;
  }
}
