.statCard {
  gap: 0.75rem;
  /* border: 1px solid red; */
}

.statValue {
  font-size: var(--fs-h2);
  font-weight: 750;
  color: var(--primary-color);
  letter-spacing: -0.02em;
}

.statCardBodyInfo {
  gap: 0.75rem;
}

.statTitle {
  color: var(--primary-light);
  font-weight: 650;
  font-size: var(--fs-h5);
}

.statSubtitle {
  color: var(--primary-light-muted);
  font-size: var(--fs-meta);
}

