.introduction {
  position: fixed;
  inset: 0;
  z-index: 9999;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  /* background: var(--primary-dark); */
}

.introduction * {
  color: var(--primary-light);
}

.imageWrapper,
.inner,
.text {
  position: relative;
  z-index: 2;
}

.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}

.logoText {
  font-weight: 500;
  font-size: var(--fs-body);
}

.text {
  font-size: var(--fs-hero);
  line-height: 1;
}

.letter {
  font-family: var(--font-instrumentalSerif);

}

.svg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: block;

  z-index: 0;
  pointer-events: none;
}

.svg path {
  fill: var(--primary-dark);
}
