.wrapper {
  border-radius: var(--border-radius-tertiary);
  border: var(--border-theme);
  position: relative;
  background: transparent;
  cursor: pointer;
  display: flex;
  font-weight: 700;
  font-size: var(--fs-h5);

}

.wrapper * { 
  font-family: var(--font-publicSans);

}

.wrapper:first-of-type::before {
  content: "";
  position: absolute;
  left: -35%;
  right: -35%;
  top: 50%;
  height: 200%;
  transform: translateY(-50%);
  border-radius: 999px;
  background: linear-gradient(
    90deg,
    transparent,
    var(--primary-color-transparent),
    var(--primary-color-transparent),
    transparent
  );

  filter: blur(48px);
  /* opacity: 0.65; */
  z-index: -20;
  pointer-events: none;
}

.wrapper:first-of-type::after {
  content: "";
  position: absolute;
  inset: 1px;
  border-radius: inherit;

  background: linear-gradient(
    135deg,
    var(--primary-color),
    var(--primary-color-light)
  );

  z-index: -1;
  pointer-events: none;
}

.wrapper > * {
  position: relative;
  z-index: 1;
}

.wrapper h4 {
  font-weight: 600;
}

/* .link:focus-visible {
  outline: none;
  box-shadow:
    0 0 0 2px rgba(255,255,255,0.6),
    0 0 0 6px rgba(24,182,255,0.6);
} */

.link {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  padding: 0.75rem 3rem;
  border-radius: var(--border-radius-tertiary);
  border: var(--border-theme);
    display: flex;
  align-items: center;
  justify-content: center;
}
