.wrapper {
  /* background: red; */
  height: calc(100vh - var(--header-height));
  width: 100%;
  /* border: 5px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-light);
  padding: 0 3rem;
  background: var(--primary-dark-panel);
}

.inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  /* border: 3px solid lime; */
  max-width: var(--max-layout-width);
}

.title {
  font-size: var(--fs-hero);
  /* border: 1px solid green; */
  text-align: center;
  max-width: 25ch;
  height: fit-content;
  margin: 0;
}

.ctaWrapper {
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  z-index: 1;
  /* overflow: hidden; */

}


