.wrapper {
  /* background: red; */
  height: 100lvh;
  width: 100%;
  /* border: 5px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-light);
  padding: 0 3rem;
  background: var(--primary-dark-panel);
}

.mediaWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
}

.mediaWrapperInner {
  position: relative;
  width: 100%;
  height: 100%;
}
.image {
  mix-blend-mode:screen  ;
  filter: saturate(120%) contrast(120%) brightness(20%);
}

.inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  /* border: 3px solid lime; */
  max-width: var(--max-layout-width);
}

.title, .title * {
  font-size: var(--fs-hero);
  /* color: var(--secondary-color); */
  /* border: 1px solid green; */
  text-align: center;
  max-width: 30ch;
  height: fit-content;
  margin: 0;
  position: relative;
  /* font-family: var(--font-instrumentalSerif);
  letter-spacing: 0.2rem; */
}

.ctaWrapper {
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  z-index: 1;
  /* overflow: hidden; */

}


